<div class="card">
    <div class="title">
        <a>{{Title}}</a>
        {{!-- <button class="right close-btn">x</button> --}}
    </div>
    <div class="content">
          <a>{{Content}}</a>
    </div>
  
    
</div>