<div class="card">
    <div class="title">
        <a>{{title}}</a>
        <button class="right close-btn">x</button>
    </div>
    <div class="content">
          <a>{{content}}</a>
    </div>
  
    
</div>