*{
	font-family: sans-serif; 
}
h1,h2,h3{
	color: white;
}

#app{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
#app-header{
	width: 96%;
	margin: 2%;
}

.header{
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #2980b9;
	background-image: linear-gradient(to right, #2c76a8 , #148ddd);
	border-radius: 5px;
}


.header  * {
	text-align: right;
	display: inline-block;
}


#title{
	padding: 0;
	font-size: 150%;
	text-align: center;
	
}

#card-zone{
	display: flex;
	margin: 2%;
	flex-wrap: wrap;
	flex-direction: row;
	height: 90%;
	width: 100%;
}


#window{
	visibility: hidden;
	position: absolute;
	height: 50%;
	width: 50%;
	margin: 20%;
	top: 0;
	left: 0;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #2980b9;
}

button{
	border: solid 3px white;
	color: white;
	margin: 3px;
	font-size: 30px;
	background-color: transparent;
	transition: border 0.1s ease-in;
	-webkit-transition: width 0.50s ease, top 0.5s ease; 
    transition: width 0.50s ease, top 0.5s ease;
    transition-delay: 0.25s;	
    position: relative;
	text-align: center;
	border-radius: 5px;

	
}

.close-btn {
	border: 0px;
}

.right {
	right: 0;

}

button:hover{
	color: #2980b9;
	background-color: white;
}
.close-btn:hover{
	color: red;

}


.card {
	margin: 2%;
	flex-shrink: 0;
	border: solid 2px #148ddd;
	border-radius: 5px;
	word-wrap: break-word;
	height: 10%;
	width: 40%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	-webkit-transition: width 2s ease , height 2s ease;; 
    transition: width 2s ease , height 2s ease;
    -webkit-transition: top 0.75s ease, left 0.75s ease;
    transition: top 0.75s ease, left 0.75s ease;
    transition-delay: 0.5s;
}
.card:hover  {
	text-align: start;
}

.card:hover > .title {
	display: none;
}

.card:hover > .content {
	display: block;
}

.card .title{
	font-size: 200%;
	/* background-image: linear-gradient(to right, #2c76a8 , #148ddd); */
	color: #148ddd;
	padding: 5px;
	-webkit-transition: height 1s ease;; 
    transition: height 1s ease;
    transition-delay: 0.75s;
	margin: 5%;

}
.card .content{
	font-size: 100%;
	display: none;
	padding: 10px;
	margin: 5%;
}



@media only screen and (max-width: 600px) {
	#app-header{
		position: absolut;
	}
	button{
		width: 50%;
		display: block;
		text-align: center;
		-webkit-transition: width 1s ease;
		transition: width 1s ease;
		margin-bottom: 5%;
	}

	.right {
		position: relative;
	}
	.add-button::before {
		text-align: left;
		content: 'new note ';

	}
	.close-btn{
		display: inline;
		width: 20%;


	}
	.card{
		width: 90%;
		height: 20%;
	}

	#card-zone{
		display: flex;
		margin: 2%;
		margin-top: 20%;
		padding: 2%;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}
}